/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

#about-us-container {
  flex: 1 0 auto;
  display: grid;
  justify-items: center; }
  @media (min-width: 0px) {
    #about-us-container {
      margin-top: 124px;
      padding-top: 0; }
      #about-us-container #ITEL-Mobile-Model {
        background-color: #37712b;
        max-width: 100%; }
      #about-us-container #ITEL-Model {
        display: none; } }
  @media (min-width: 1025px) {
    #about-us-container {
      grid-template-rows: min-content 50vw;
      padding-top: 1em; }
      #about-us-container #ITEL-Mobile-Model {
        display: none; }
      #about-us-container #ITEL-Model {
        display: block;
        max-width: 50vw; } }
  #about-us-container #About-us-copy {
    margin: 1em 3em 5em; }
    @media (min-width: 1025px) {
      #about-us-container #About-us-copy {
        max-width: 50%; } }
