/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

#email-capture {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #email-capture #form {
    display: flex;
    flex-direction: column;
    width: 45%; }
    @media (min-width: 1025px) {
      #email-capture #form {
        display: block; }
        #email-capture #form label {
          padding: 1%; } }
    #email-capture #form button {
      background-color: yellow;
      border-style: hidden;
      padding: 10%;
      margin: 1em 0em 1em; }
