/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

.Events {
  min-height: 758px;
  padding-top: 124px;
  width: auto; }
  .Events #Poster {
    max-width: 90%; }
