/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

.Events {
  min-height: 758px;
  padding-top: 124px;
  width: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  .Events #Poster {
    width: 100%;
    padding: 0 0 2em 0; }
