.footer {
  flex-shrink: 0;
  position: relative;
  min-height: 150px;
  width: 100%;
  background-color: #75C366;
  display: grid;
  grid-template-areas: "s a . m . e" "c c c c c c";
  gap: 0;
  font-size: 1em; }
  .footer h4 {
    margin-bottom: 0; }
  .footer #contact-us {
    grid-area: a;
    text-align: left;
    padding-left: 1em; }
  .footer #social-media-links {
    grid-area: s;
    display: flex;
    flex-direction: column; }
    .footer #social-media-links #link-container {
      display: flex;
      flex-direction: column;
      float: left; }
      .footer #social-media-links #link-container #Twitter-Logo {
        padding-right: 20px; }
      .footer #social-media-links #link-container .social-icons {
        height: 1.4em;
        margin-right: 4px; }
  .footer #Copyright {
    margin: 1em 0px;
    grid-area: c; }
  .footer a {
    text-decoration: none;
    color: black;
    -moz-text-decoration-color: inherit; }
