/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

.Gallery {
  min-height: 677px;
  flex: 1;
  padding-top: 114px; }
  .Gallery img {
    width: 300px; }
