/*

  Name:   _config.scss
  Site:   Mastering Hope
  Auth:   Stetson Baber
  Crtd:   9/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

#home {
  display: flex;
  flex-wrap: wrap;
  padding-top: 114px; }
  #home #hero {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    max-height: 740px;
    background-color: #F2F9F0; }
  #home #email-capture {
    background-color: #75C366;
    height: 84px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.548);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.548);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.548); }
  #home #gallery {
    position: relative;
    background-color: #EBEBEB;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 4em 0; }
