@import "config";


  
    #about-us-container{
        flex: 1 0 auto;
        display: grid;
    @include for_breakpoint(mobile){
        margin-top: $nav_bar;
        padding-top: 0;

        #ITEL-Mobile-Model{
            background-color: #37712b;

            height: 100%;
            max-width: 100%;
        }
        #ITEL-Model{
            display: none;
        }
    }

    @include for_breakpoint(desktop){
        grid-template-columns: min-content 50vw;
        padding-top: 1em;

        #ITEL-Mobile-Model{
            display: none;
        }
        #ITEL-Model{
            display: block;
            max-height: 100%;
            max-width: 50vw;
            }
    }
#About-us-copy{
    margin: 1em 3em;
}
}


