@import "config";
#text-holder{
  color: rgba(0, 0, 0, 0.870);
}
      #gallery-item-container-1{
        -webkit-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        -moz-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        margin: 3em;
        min-width: 70%;    
        display: flex;
        height: 400px;
        @include for_breakpoint(desktop){
          margin-right: 10%;
        }
        border-radius: 10px;
        overflow: hidden;
        background-color: #B3DCA7;
        #img-holder{     
          width: 400px;
          height: 100%;
          overflow: hidden;
          img{
            position: relative;
            width: 500px;
            right: 100px;
            width: auto;
            height: 100%;
          }
        }
        #text-holder{
          width: 60%;
          height: 100%;
          margin: 0 2em;
          .title{
              font-family: 'Poppins', sans-serif;
              margin-top: 1em;
          }
          .copy{
              font-family: 'Open Sans', sans-serif;
              line-height: 1.5rem;
  
          }
      }
      }
    
      #gallery-item-container-2{
        -webkit-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        -moz-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);

        
        margin: 3em;
        min-width: 70%;    
        display: flex;
        max-height: 500px;
        @include for_breakpoint(desktop){
          margin-left: 10%;
        }
        border-radius: 10px;
        overflow: hidden;
        background-color: #B3DCA7;
        #img-holder{
          width: 540px;
          height: 100%;
          overflow: hidden;
            img{
              position: relative;
              margin-left: -2em;
              width: auto;
              height: 100%;
          }
        }
        #text-holder{
          width: 60%;
          height: 100%;
          margin: 0 2em;
          .title{
              font-family: 'Poppins', sans-serif;
              margin-bottom: 0;

          }
          .copy{
              font-family: 'Open Sans', sans-serif;
              line-height: 1.45rem;
              margin-bottom: 10px;
          }
      }
      }  
    
         
      #gallery-item-container-3{
      -webkit-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
      -moz-box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
      box-shadow: -9px 6px 14px -4px rgba(0,0,0,0.52);
        margin: 3em;
        min-width: 70%;    
        display: flex;
        height: 400px;
        @include for_breakpoint(desktop){
          margin-right: 10%;
        }
        border-radius: 10px;
        overflow: hidden;
        background-color: #B3DCA7;
        #img-holder{
          width: 400px;
          height: 100%;
          overflow: hidden;
            margin-right: 1em;
            img{
              position: relative;
             right: 140px;
              width: auto;
              height: 100%;
          }
        }

        #text-holder{
          width: 60%;
          height: 100%;
          margin: 0 2em;
          .title{
              font-family: 'Poppins', sans-serif;
              margin-top: 1em;
          }
          .copy{
              font-family: 'Open Sans', sans-serif;
              line-height: 1.5rem;
  
          }
      }
      }  
    


  
/* ----------------------------------------------
 * Generated by Animista on 2020-9-3 10:43:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-right-1
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-right-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
              transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-right-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
              transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  